<div class="container">
    <div class="jumbotron">
        <h1>Get GitHub News</h1>
        <p>
            <a class="btn btn-primary btn-lg saved-btn" role="button" href="/">Home</a>
            <a class="btn btn-primary btn-lg saved-btn" role="button" href="/saved">Saved Articles</a>
        </p>
        
    </div>
</div>


<div class="container">

    {{!-- Render the article info --}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a target="_blank" href={{article.link}}><h3 class="panel-title" data-id={{article.id}}>{{article.title}}</h3></a>
                </div>
                <div class="panel-body">
                    {{article.summary}}                  
                </div>
            </div>
        </div>
    </div>

    {{!-- Render each note --}}
    {{#each note}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{this.body}}
                <button type="button" class="btn btn-primary pull-right delete-comment" data-noteid={{this.id}}>Delete Comment</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{!-- form to add comment --}}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="commentBox">Add a comment</label>
                            <textarea class="form-control" rows="3" id="commentBox" placeholder="Text input"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-comment" data-id={{article.id}}>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>